nav {
	background-color: $light-black;
	form {
		border: none;
		padding: 5px;
	}
}
.navbar-nav {
	align-items: baseline;
}
nav a {
	color: white;
	white-space: nowrap;
	&:hover {
		color: $myWhite;
	}
}
.navbar-brand {
	color: $myWhite !important;
}
