$primary-green: #3c948b;
$secondary-green: #53c5b9;
$light-green: #63d5c3;
$light-black: #3f3f3f;
$dark-black: #3b3e52;
$myWhite: #fefefe;
$light-grey: rgb(149, 149, 176);
$dark-red: #a24b61;
$light-red: #d77584;
$ultra-light-green: #d2efeb;
$myBlue: #0779e4;
$myOrange: #e36414;
$carolineBlue: #009ffd;

// font
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap");

@mixin lg-font {
	font-size: 1.5rem;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
}
@mixin xl-font {
	font-size: 3.5rem;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
}
@mixin sm-font {
	font-size: 1.1rem;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
}
