@import "./variables";
.card_body {
	background-color: $primary-green;
	color: $myWhite;
	padding: 20px 0;
	// transition: padding-bottom 0.2s linear;
}
.button_holder {
	position: relative;
}
.favorites_button {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: $primary-green;
	color: $myWhite;
	width: 30%;
	transition: font-size 0.3s linear;
	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.card_subtitle {
	font-size: 1.2rem;
}
.favorites_button:hover {
	font-size: 2rem;
}
.card {
	position: relative;
}
.cardImg::after {
	content: "";
	background-color: $myWhite;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
}
.cardImg:hover::after {
	opacity: 0.05;
}
